 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Operating Systems</h2>
      <i class="devicon-ubuntu-plain-wordmark colored"></i>
      <i class="devicon-apple-original colored"></i>
      <p>I began coding on windows, but python packages are made for linux based systems so I made the switch. Although, I still run other OS on virtual machines.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-git-plain colored"></i>
      <p>I write code in Python 3 and SQL, but I am interested trying more in building more projects in R and Scala.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-confluence-plain-wordmark colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mainly focused on automation though Airflow script schedulers and investigating what Neural Networks can do.</p>
    </div>
</div>
