<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="My GA Profile" href="https://profiles.generalassemb.ly/profiles/lawrence-njume"><i class="icon fa fa-user-circle"></i></a>
        <a aria-label="Send Email" href="mailto:lennjume@gmail.com"><i class="icon fa fa-envelope" aria-hidden="true"></i></a>
        <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/lawrence-njume/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/DietMocha"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="link" href="blog" </a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
            <a href="https://profiles.generalassemb.ly/profiles/lawrence-njume" title="Professional Profile" target="_blank">
              <i class="fa fa-user-circle" aria-hidden="true"></i>
            <a href="https://github.com/DietMocha" title="@njume on GitHub" target="_blank">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/lawrence-njume/" title="@lennjume on linkedin" target="_blank">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="mailto:lennjume@gmail.com" title='Email me' target="_blank">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
